<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalcIndep_Carpeta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CalcIndep_Carpeta.Properties.Settings>
            <setting name="PathPacientes" serializeAs="String">
                <value>\\Ariamevadb-svr\va_data$\Pacientes</value>
            </setting>
            <setting name="PathIsos" serializeAs="String">
                <value>\\FISICA0\isos </value>
            </setting>
            <setting name="PathCopiaIsos" serializeAs="String">
                <value>\\FISICA0\isos\Copias de patmove</value>
            </setting>
            <setting name="PathPrograma" serializeAs="String">
                <value>\\ARIAMEVADB-SVR\va_data$\Calculo Independiente</value>
            </setting>
            <setting name="PathDCMRP" serializeAs="String">
                <value>\\ARIAMEVADB-SVR\va_data$\Export</value>
            </setting>
            <setting name="PathDCMEquipo" serializeAs="String">
                <value>\\FISICA0\equipo3\DICOM RT\1 - Inicios</value>
            </setting>
            <setting name="PathDCMEquipo2" serializeAs="String">
                <value>\\FISICA0\equipo2\DICOM RT\1 - Inicios</value>
            </setting>
            <setting name="PathImagenesPacientes" serializeAs="String">
                <value>\\FISICA0\centro_de_datos2018\000_Centro de Datos 2021\Pacientes DRRs</value>
            </setting>
        </CalcIndep_Carpeta.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Extreme.Numerics" publicKeyToken="9e513770f58567b2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.12.0" newVersion="8.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>