<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CalcIndep_Carpeta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Extreme.Numerics" publicKeyToken="9e513770f58567b2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.7.0" newVersion="7.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CalcIndep_Carpeta.Properties.Settings>
      <setting name="PathPacientes" serializeAs="String">
        <value>\\Ariamevadb-svr\va_data$\Pacientes</value>
      </setting>
      <setting name="PathIsos" serializeAs="String">
        <value>\\FISICA0\isos</value>
      </setting>
      <setting name="PathCopiaIsos" serializeAs="String">
        <value>\\FISICA0\isos\Copias de patmove</value>
      </setting>
      <setting name="PathPrograma" serializeAs="String">
        <value>\\ARIAMEVADB-SVR\va_data$\Calculo Independiente</value>
      </setting>
      <setting name="PathDCMRP" serializeAs="String">
        <value>\\ARIAMEVADB-SVR\va_data$\Export</value>
      </setting>
      <setting name="PathDCMEquipo" serializeAs="String">
        <value>\\Fisica0\dicom rt</value>
      </setting>
      <setting name="PathDCMEquipo2" serializeAs="String">
        <value>\\FISICA0\equipo2\DICOM RT</value>
      </setting>
    </CalcIndep_Carpeta.Properties.Settings>
  </userSettings>
</configuration>