<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EvilDICOM" version="1.0.5.0" targetFramework="net40" />
  <package id="Extreme.Numerics" version="7.0.8" targetFramework="net40" />
  <package id="Extreme.Numerics.SinglePrecision" version="7.0.2" targetFramework="net40" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net40" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net40" />
</packages>